.top-image {
  width: 1000px;
}
.three-pics {
  background-color: grey;
  width: 1000px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.three-pics img {
  width: 150px;
  border-radius: 50%;
  margin: 20px;
  border: 10px solid #4e4e4e;
}
p {
  text-align: center;
  width: 1000px;
}
